a {
  //position: relative;
  //margin: 0px 0 22px 10%;
  color: #e54040;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    border-bottom: 1px solid #f2b0b0;
  }
}
.item{
  //position: absolute;
  //top: 75px;
  //left: 50%;
  width: 226px;
  margin: 10px 0 0 0px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
  font-size: 12px;
  line-height: 1;
  padding: 5px;
  cursor: default;
}
.item:after{
  content:'';
  position: absolute;
  top: -33px;
  left: 0;
  display: block;
  width: 100%;
  height: 33px;
}